name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: hecrj/setup-rust-action@v1
        with:
          components: clippy,rustfmt
      - uses: jetli/wasm-pack-action@v0.3.0
      - name: Run tests in Chrome
        run: wasm-pack test --headless --chrome
        run: wasm-pack test --headless --chrome --features bigint_serialization
      - name: Run tests in Firefox
        run: wasm-pack test --headless --firefox
        run: wasm-pack test --headless --firefox --features bigint_serialization
      - name: Clippy checks
        run: cargo clippy --all-targets -- -D warnings
      - name: Format
        run: cargo fmt
      - name: Commit changes if any
        uses: stefanzweifel/git-auto-commit-action@v4
